.toggle-switch{
    display: flex;
    button{
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 25px;
        cursor: pointer;
        margin: 0 1rem;
        &.active{
            font-weight: 600;
        }

    }
    
}