
form{
    width: 60%;
}
input, button{
    outline: none;
    border: none;
    padding: 0.5rem;
    background: transparent;
    color: white;
    border-bottom: 2px solid;
    font-size: 20px;
    &::placeholder{
        color:white
    }

}
input{
    width: 50%;
}

@media only screen and (max-width: 768px) {
    
    input{
        width: 80%;
    }
  }